.edit_product_img_partent{
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}
.edit_product_img_partent .edit_product_img_item{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.multi_img_partent{
    height: 200px;
    width: 150px;
}
.multi_img_item{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.partent-big{
    overflow-y:auto;
}